name: Build Flutter iOS  App

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:  

jobs:
  
  build-ios-simulator:
    runs-on: macos-latest  
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Install CocoaPods dependencies
        run: |
          cd ios
          pod install
      - name: Import Apple Code Signing Certificates
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.P12_BASE64 }}
          p12-password: ${{ secrets.P12_PASSWORD }}
      - name: Install Provisioning Profile (Manual)
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles/
          echo "${{ secrets.PROVISIONING_PROFILE_BASE64 }}" | base64 --decode > ~/Library/MobileDevice/Provisioning\ Profiles/profile.mobileprovision
      - name: Build for iOS (IPA)
        run: flutter build ipa --release
      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: build/ios/ipa/Runner.ipa
